div.body5-container{
    width: var(--widthBody);
    position: relative;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
div.body5-container>img{
    width: 644px;
    border-radius: 16px;
}